.error-message {
    font-size: 12px;
    text-align: center;
  }
  
  .loading {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .imageContainer {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
  }